@page "/"
@using Snake.App.Enums

<h1>Snake</h1>

<div @ref="gameContainer" tabindex="0" @onkeydown="KeyboardEventHandler">
    @if (_gameOver == false)
    {
        <h2>Score: @_score</h2>
        
        <div class="game-board">
            @for (var i = 0; i < 40; i++)
            {
                <div class="game-board-row">
                    @for (var j = 0; j < 40; j++)
                    {
                        var boardState = _board[i][j];
                        if (boardState == null)
                        {
                            <span class="game-board-cell">&nbsp;</span>
                        }
                        else if (boardState == BoardState.Snake)
                        {
                            <span class="game-board-cell snake">&nbsp;</span>
                        }
                        else if (boardState == BoardState.Food)
                        {
                            <span class="game-board-cell food">&nbsp;</span>
                        }
                    }
                </div>
            }
        </div>
    
        <button class="btn btn-primary" @onclick="() => { ChangeDirection(Direction.Right); }">Go Right</button>
        <button class="btn btn-primary" @onclick="() => { ChangeDirection(Direction.Left); }">Go Left</button>
        <button class="btn btn-primary" @onclick="() => { ChangeDirection(Direction.Up); }">Go Up</button>
        <button class="btn btn-primary" @onclick="() => { ChangeDirection(Direction.Down); }">Go Down</button>
    }
    else
    {
        if (_gameOver == true)
        {
            <p>Game over!</p>
            <p>Score: @_score</p>
        }
        <button class="btn btn-success" @onclick="async () => { await Start(); } ">Start Game</button>
    }
</div>
